<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/twitter.css">
        <link rel="stylesheet" type="text/css" href="css/fontello.css">
        <script src="js/hls.light.min.js" defer=""></script>
        <script src="js/hlsPlayback.js" defer=""></script>
    </head>
    <body>
    <div class="container ">
    <div class="timeline-container ">
    <div class="timeline ">
TIMELINE
</div>
</div>
</div>
</body>

</html>